<%- include('./partials/header') %>
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1 class="mt-5"><%= title %></h1>
    <div class="p-4">
  
      <p>Gotei13 is an immersive platform that opens the door to endless realms of creativity, where users can bring their wildest imaginings to life, discover mystical worlds, and embark on grand adventures by creating, sharing, and experiencing unique characters and narratives. Whether you're a seasoned storyteller, a devoted role-playing enthusiast, or a dreamer with boundless creativity, Gotei13 offers you an unparalleled canvas to breathe life into your characters.</p>
      
      <p>This app allows you to immerse yourself in an infinite universe of creativity with our user-friendly character creation tool. Build characters that mirror your most extravagant fantasies, choosing from a diverse selection of races, backgrounds, classes, and equipment.</p>
      
      <p>When your character is primed for the world, unveil it for others to admire. Share your masterpieces with the community, enabling fellow users to traverse the realms you've envisioned.</p>
      
      <p>Embark on an enchanting journey through a kaleidoscope of characters, each one a unique creation by our diverse user base. Encounter a rich tapestry of heroes, anti-heroes, and sidekicks, each with a captivating tale to tell. Explore the gallery for inspiration or simply revel in the enchanting characters that others have brought to life.</p>
      
      <p>Gotei13 fosters an environment of community engagement. Express your admiration, pose questions, or provide constructive feedback by leaving comments on your cherished characters. Connect with other creators and enthusiasts, allowing your characters to become part of a larger, interconnected narrative.</p>
      
      <p>Dive into the world of AI-generated storytelling with our exclusive feature. Every character featured on Gotei13 can be paired with a one-of-a-kind AI-generated story. Unearth fresh narratives, quests, and adventures for your characters, unveiling them in ways that transcend your wildest dreams.</p>
      
      <p>Ignite your creative spark and commence your journey into the captivating realm of Gotei13 today!</p>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
