<%- include('./partials/header') %>
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1 class="mt-5"><%= title %></h1>
    <div class="p-4">
  
      <p>Gotei13 is your creative playground. With this app, you can craft characters, update them, and share your creations with the world. Explore a diverse gallery of characters designed by fellow users, where you can leave comments and connect with other enthusiasts. And don't miss out on the magic of AI-generated stories that bring your characters to life in ways you've never imagined.</p>
      

    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
