<%- include('./partials/header') %>
<!DOCTYPE html>
<html>
<head>
  <title>Character Story</title>
</head>
<body>
  <br class="container mt-5">
    <h1 class="text-center">Character Story</h1>
    <div class="jumbotron">
      <p class="lead"><%= characterStory %></p>
    </div>
    <div class="text-center">
      <a href="/profile" class="btn btn-primary">My Profile</a>
    </div>
  </div>
</body>
</html>
