<%- include('./partials/header') %>
<body class="story-body">
  <br class="container mt-5">
    <h1 class="text-center white user-profile">Character Story</h1>
    <div class="container">
      <p class="lead poiret"><%= characterStory %></p>
    </div>
    <div class="text-center">
      <a href="/profile" class="btn btn-primary">My Profile</a>
    </div>
  </div>
</body>
</html>
