<%- include('./partials/header') %>
<!DOCTYPE html>
<html>
<head>
  <title>Character Story</title>
</head>
<body>
  <h1>Character Story</h1>
  <p><%= characterStory %></p>
  <a href="/profile">My Profile</a>
</body>
</html>
