@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Shadows+Into+Light&display=swap");

#create-color {
  color: rgba(0, 0, 0, 0.65);
}
/* .navbar {
  opacity: 0.70;
} */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.google {
  height: 25px;
}

.login {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}

.main-page {
  background-image: url("/images/landing-page.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

.main-page::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7)
  );
  z-index: -1;
}

.main-p {
  color: white;
}
.main-h {
  color: white;
}

.profile-body {
  background-image: url("/images/profile-body.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

.gallery-body {
  background-image: url("/images/profile-body.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
.gallery-body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7)
  );
  z-index: -1;
}

.character-body {
  background-image: url("/images/character.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
.character-body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7)
  );
  z-index: -1;
}

.update-body {
  background-image: url("/images/update.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
.update-body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7)
  );
  z-index: -1;
}

.story-body {
  background-image: url("/images/story-body.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
.story-body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7)
  );
  z-index: -1;
}

.error-page {
  background-image: url("/images/error-page.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

.error-page::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7)
  );
  z-index: -1;
}

.lead {
  color: white;
}

.white {
  color: white;
}
.form-label {
  color: white;
}
.form-check-label {
  color: white;
}
.btn {
  margin: 0.2rem;
}
.card-text {
  text-align: left;
}

.lightgrey {
  background-color: lightgray;
}

.user-profile {
  font-family: Poiret One;
  font-size: 3em;
}

.poiret {
  font-family: Poiret One;
  font-size: 2em;
}
.poem {
  text-align: center;
}

#delete-comment {
  margin-top: 1rem;
}

#submit-button {
  margin-top:1rem;
}
p {
  color: white;
}

.poiret-card {
  font-family: Poiret One;
  font-size: 2em;
}
.poiret-sub {
  font-family: poiret;
}